doctype html
html
  head
    title= title || "AzabPlex Cinema"
    link(rel="stylesheet", href="/style.css")
    script.
      window.si = window.si || function () { (window.siq = window.siq || []).push(arguments); };
    script(defer src="/_vercel/speed-insights/script.js")
    block head

  body
    include partials/header
    
    block content
