extends layout

block title
  title Register – AzabPlex Cinema

block content
  h1 Create Account

  if error
    p.error-msg(style="color:red;text-align:center") #{error}

  form(method="POST" action="/register")
    .form-group
      label Username:
      input(type="text" name="username" required)

    .form-group
      label Password:
      input(type="password" name="password" required)

    .form-group
      label Private Account:
      input(type="checkbox" name="privacy")

    button(type="submit") Register

  p
    | Already have an account?
    a(href="/login")  Sign in here
