doctype html
html
  head
    title Admin Services
    link(rel="stylesheet", href="/style.css")
    script(src="/speed-insights.js")

  body

    include partials/header

    h1 Streaming Services

    #serviceList
      each service in services
        div.serviceRow
          a(href="/services/" + service.id)= service.name
          img.remove(src="/remove.svg" data-id=service.id width="20")

    hr

    h2 Add Service

    input#newServiceName(type="text" placeholder="Service name")
    button#addServiceBtn Add Service

    script(src="/admin.js")
